<section id="main-section" class="leading-normal tracking-normal overflow-x-hidden">
    <div class="flex flex-wrap">
        <!-- Place hidden class on the main-navigation element -->
        <app-admin-navigation>
        </app-admin-navigation>
        <!-- End of side navigation -->

        <!-- Main Content -->
        <div id="main-content" class="w-full bg-gray-100 pl-0 lg:pl-64 min-h-screen">
            <!-- Top Navigation Bar -->
            <div class="sticky top-0 z-40">
                <div class="w-full h-20 px-6 bg-gray-100 border-b flex items-center justify-between">
                    <div class="flex">
                        <div class="lg:hidden flex items-center justify-between">
                            <button class="text-farmer-green-shade-3 hover:text-farmer-green-shade-2 hover:border-farmer-white focus:outline-none navbar-burger">
                            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/></svg>
                          </button>
                        </div>
                    </div>
                </div>
                <div class="p-6 bg-gray-100 mb-20">
                    <div class="home-section">
                        <div class="justify-between items-center my-6 lg:flex">
                            <h1 class="text-2xl text-farmer-green font-sans font-bold mb-2">
                                Welcome, Admin
                            </h1>
                            <a routerLink="/create-supplier" class="bg-farmer-green hover:bg-farmer-green-shade-1 focus:outline-none rounded-lg px-6 py-2 text-farmer-white font-semibold shadow hidden lg:block">Create Supplier</a>
                        </div>
                        <app-admin-navigation></app-admin-navigation>
                        <div class="justify-between items-center my-6 lg:flex">
                            <a class="bg-farmer-green hover:bg-farmer-green-shade-1 focus:outline-none rounded-lg px-6 py-2 text-farmer-white font-semibold shadow lg:hidden block w-full">Create a new supplier</a>
                        </div>
                        <div class="justify-between text-farmer-green  my-6 lg:flex flex-col align-middle">
                            <div class="flex flex-row items-center">
                                <div class="w-1/4">
                                    <p class="text-xl mt-3 font-bold mb-4 text-left">Latest Applications</p>
                                </div>

                                <hr class="w-3/4 divide-y-2 border-farmer-green border-2">
                            </div>
                            <p class="text-base text-farmer-black">Summary of applications from farmers who want to supply the marketplace with their products.</p>
                        </div>
                        <!-- Supplier Application information -->
                        <section class="overflow-hidden" *ngIf="supplier">

                            <div class="border-t border-farmer-green-shade-1">
                                <dl>
                                    <div class="text-base px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                        <dt class="text-base font-medium text-farmer-green">
                                        Representative Name
                                     </dt>
                                        <dd class="mt-1 text-base text-gray-900 sm:mt-0 sm:col-span-2">
                                            {{supplier.repDetails.fullName}}
                                        </dd>
                                    </div>
                                    <div class="text-base px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                        <dt class="text-base font-medium text-farmer-green">
                                      Farm Name
                                   </dt>
                                        <dd class="mt-1 text-base text-gray-900 sm:mt-0 sm:col-span-2">
                                            {{supplier.farmDetails.farmName}}
                                        </dd>
                                    </div>
                                    <div class="text-base px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                        <dt class="text-base font-medium text-farmer-green">
                                         Physical Address
                                      </dt>
                                        <dd class="mt-1 text-base text-gray-900 sm:mt-0 sm:col-span-2 capitalize">
                                            {{supplier.farmDetails.streetAddress}}, {{supplier.farmDetails.city}}, {{supplier.farmDetails.provinceName}}, {{supplier.farmDetails.zipCode}}
                                        </dd>
                                    </div>
                                    <div class="text-base px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                        <dt class="text-base font-medium text-farmer-green">
                                       Bank Details
                                    </dt>
                                        <dd class="mt-1 text-base text-gray-900 sm:mt-0 sm:col-span-2 capitalize">
                                            {{supplier.accountDetails.accountHolderName}}, {{supplier.accountDetails.accountNo}}, {{supplier.farmDetails.bankName}}, {{supplier.accountDetails.bankType}}
                                        </dd>
                                    </div>
                                    <div class="text-base px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                        <dt class="text-base font-medium text-farmer-green">
                                    Certificates
                                  </dt>
                                        <dd class="mt-1 text-base text-gray-900 sm:mt-0 sm:col-span-2">
                                            <ul class="border border-gray-200 rounded-md divide-y divide-gray-200">
                                                <li class="pl-3 pr-4 py-3 flex items-center justify-between text-base">
                                                    <div class="w-0 flex-1 flex items-center">
                                                        <!-- Heroicon name: solid/paper-clip -->
                                                        <svg class="flex-shrink-0 h-5 w-5 text-farmer-green-shade-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"><path fill-rule="evenodd" d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z" clip-rule="evenodd" /></svg>
                                                        <span class="ml-2 flex-1 w-0 truncate">
                                                  CIPC Farm Certificate
                                              </span>
                                                    </div>
                                                    <div class="ml-4 flex-shrink-0">
                                                        <a href="#" class="font-medium text-farmer-green hover:text-farmer-green-shade-2">
                                                        Download
                                                       </a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </dd>
                                    </div>
                                </dl>

                                <div class="px-4 py-3 text-base text-right sm:px-6">
                                    <button type="submit" (click)="declineApplication()" class=" mx-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-farmer-yellow  hover:bg-farmer-yellow-shade-3 hover:text-farmer-white focus:outline-none focus-within:ring-2 focus-within:ring-offset-1 focus-within:ring-farmer-yellow-shade-2">
                                  Decline Application
                                </button>
                                    <button type="button" (click)="approveApplication()" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-farmer-white bg-farmer-green hover:bg-farmer-green-shade-2 focus:outline-none focus:ring-2 focus:ring-offset-1 focus:ring-farmer-green-shade-2">
                                  Approve Application
                                </button>
                                </div>
                            </div>

                        </section>

                    </div>
                </div>
                <div class="w-full border-t-2 px-8 py-6 lg:flex justify-between items-center ">
                    <p class="mb-2 lg:mb-0 "> &copy; Copyright 2021</p>
                </div>
            </div>
        </div>
    </div>
</section>
