<div class="container mx-auto">
    <div class="flex  justify-center items-center">
        <div class="w-full xl:3/4 lg:w-1/2 flex my-12">
            <div class="w-full p-5 rounded-lg lg:rounded-l-none">
                <div class="px-8 mb-4 text-center">
                    <h3 class="pt-4 mb-2 text-3xl font-semibold">
                        Thank you very much.
                    </h3>
                    <p class="mb-4 text-lg text-farmer-green">
                        Your application was recieved. Our administrator is going to review the application to approve or decline your application.
                    </p>
                    <div class="mb-6 text-center">
                        <button class="w-full lg:w-1/2 px-4 py-2 font-bold text-farmer-white bg-farmer-green-shade-1 rounded-lg hover:bg-farmer-green focus:outline-none focus:shadow-outline" routerLink="/sign-in">Go Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
