<div class="font-sans">
    <div class="container mx-auto">
        <div class="flex justify-center items-center px-6 my-12">
            <div class="w-full xl:w-3/4 lg:w-11/12 flex">
                <div class="w-full h-auto hidden lg:block lg:w-5/12 bg-cover rounded-l-lg" id="bg-farmer-image">
                </div>
                <div class="w-full lg:7/12 p-5 lg:rounded-l-none">
                    <h3 class="pt-4 text-3xl text-center text-farmer-green">Create an Account</h3>
                    <p class="text-lg text-farmer-green-shade-2 text-left">Join our marketplace and start to sell your product to customers without having to stress about the gatekeepers <wbr> or paying payola to a supply chain manager.</p>
                    <form class="pt-6 pb-8 mb-4 rounded" [formGroup]="userSignUpForm">
                        <ng-container *ngIf="step ==1">
                            <div class="px-4 py-5 sm:p-6 grid grid-cols-6 gap-6">
                                <div class="col-span-6 sm:col-span-4 lg:col-span-6">
                                    <label class="block text-base font-medium text-farmer-green-shade-3" for="fullName">Name:</label>
                                    <input class="py-3 focus:ring-farmer-green focus:border-farmer-green block w-full shadow-sm sm:text-sm border-gray-300 rounded-lg" type="text" placeholder="Joe Smith" formControlName="fullName" name="fullName" />
                                </div>
                                <div class="col-span-6 sm:col-span-3 lg:col-span-3">
                                    <label class="block text-base font-medium text-farmer-green-shade-3" for="phoneNo">Phone</label>
                                    <input type="tel" class="py-3 focus:ring-farmer-green focus:border-farmer-green block w-full shadow-sm sm:text-sm border-gray-300 rounded-lg" placeholder="000-726-0000" formControlName="phoneNo" name="phoneNo" />
                                </div>
                                <div class="col-span-6 sm:col-span-3 lg:col-span-3">
                                    <label class="block text-base font-medium text-farmer-green-shade-3" for="emailAddress">Email</label>
                                    <input class="py-3 focus:ring-farmer-green focus:border-farmer-green block w-full shadow-sm sm:text-sm border-gray-300 rounded-lg" placeholder="joe@example.com" type="email" formControlName="emailAddress" name="emailAddress" />
                                </div>
                                <div class="col-span-6 sm:col-span-3 lg:col-span-3">
                                    <label for="password" class="block text-base font-medium text-farmer-green-shade-3">Password</label>
                                    <input type="password" class="py-3 focus:ring-farmer-green focus:border-farmer-green block w-full shadow-sm sm:text-sm border-gray-300 rounded-lg" formControlName="password" name="password" />
                                </div>
                                <div class="col-span-6 sm:col-span-3">
                                    <label for="confirmPassword" class="block text-base font-medium text-farmer-green-shade-3">Confirm Password</label>
                                    <input type="password" class="py-3 focus:ring-farmer-green focus:border-farmer-green block w-full shadow-sm sm:text-sm border-gray-300 rounded-lg" formControlName="confirmPassword" name="confirmPassword" />
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="step == 2">
                            <div class="px-4 py-5 sm:p-6 grid grid-cols-6 gap-6">
                                <div class="block col-span-6 sm:col-span-4 lg:col-span-6">
                                    <label class="block text-base font-medium text-farmer-green-shade-3" for="farmName">Farm Name</label>
                                    <input placeholder="Smith Fruit & Veg Farm" class="py-3 focus:ring-farmer-green focus:border-farmer-green block w-full shadow-sm sm:text-sm border-gray-300 rounded-lg" type="text" formControlName="farmName" name="farmName" />
                                </div>
                                <ng-container>
                                    <div class="col-span-6 sm:col-span-3">
                                        <label class="block text-base font-medium text-farmer-green-shade-3" for="streetAddress">Street Address</label>
                                        <input class="py-3 focus:ring-farmer-green focus:border-farmer-green block w-full shadow-sm sm:text-sm border-gray-300 rounded-lg" type="text" formControlName="streetAddress" name="streetAddress" />
                                    </div>
                                    <div class="col-span-6 sm:col-span-3">
                                        <label for="provinceName" id="province" class="block text-base font-medium text-farmer-green-shade-3">Province</label>
                                        <select class="relative w-full bg-white border border-gray-300 rounded-md shadow-sm pl-3 pr-10 py-3 text-left cursor-default focus:outline-none focus:ring-1 focus:ring-farmer-green focus:border-farmer-green sm:text-sm" formControlName="provinceName" name="provinceName">
                                          <option value="" ngDefaultControl>Select Province</option>
                                          <ng-container *ngFor="let item of provinces | async" >
                                            <option value="{{item.id}}"> {{item.provinceName}}</option>
                                          </ng-container>
                                        </select>
                                    </div>
                                    <div class="col-span-6 sm:col-span-3">
                                        <label class="block text-base font-medium text-farmer-green-shade-3" for="city">Town/City</label>
                                        <input class="py-3 focus:ring-farmer-green focus:border-farmer-green block w-full shadow-sm sm:text-sm border-gray-300 rounded-lg" type="text" formControlName="city" name="city" />
                                    </div>
                                    <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                                        <label class="block text-base font-medium text-farmer-green-shade-3" for="zipCode">ZIP Code</label>
                                        <input class="py-3 focus:ring-farmer-green focus:border-farmer-green block w-full shadow-sm sm:text-sm border-gray-300 rounded-lg" type="text" formControlName="zipCode" name="zipCode" />
                                    </div>
                                    <div class="col-span-6 sm:col-span-3">
                                        <label class="block text-base font-medium text-farmer-green-shade-3" for="farmCertificate">Farm Certificate</label>
                                        <div class="flex text-sm">
                                            <label for="file-upload" class="relative cursor-pointer bg-white rounded-md font-medium text-farmer-green  hover:bg-farmer-green-shade-2 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:bg-farmer-green-shade-2  px-3 py-3">
                                          <span>Upload a farm certifcate</span>
                                          <input formControlName ="farmCertificate" id="file-upload" (change)="selectedImg($event)" name="file-upload" accept="application/pdf" type="file" class="sr-only">
                                       </label>
                                        </div>
                                    </div>
                                </ng-container>


                            </div>
                        </ng-container>
                        <ng-container *ngIf="step ==3">
                            <div class="px-4 py-5 sm:p-6 grid grid-cols-6 gap-6">
                                <div class="col-span-6 sm:col-span-4 lg:col-span-6">
                                    <label class="block text-base font-medium text-farmer-green-shade-3" for="farmName">Account Holder Name</label>
                                    <input class="py-3 focus:ring-farmer-green focus:border-farmer-green block w-full shadow-sm sm:text-sm border-gray-300 rounded-lg" type="text" placeholder="Farm Name" formControlName="farmName" name="farmName " />
                                </div>
                                <div class="col-span-6 sm:col-span-3">
                                    <label class="block text-base font-medium text-farmer-green-shade-3" for="bankName ">Bank Name</label>
                                    <select class="relative w-full bg-white border border-gray-300 rounded-md shadow-sm pl-3 pr-10 py-3 text-left cursor-default focus:outline-none focus:ring-1 focus:ring-farmer-green focus:border-farmer-green sm:text-sm" formControlName="bankName">
                                      <option value="" ngDefaultControl>Select Bank Name</option>
                                      <ng-container *ngFor="let item of bankName | async" >
                                        <option value="{{item.bankName}}"> {{item.bankName}}</option>
                                      </ng-container>
                                    </select>
                                </div>
                                <div class="col-span-6 sm:col-span-3">
                                    <label class="block text-base font-medium text-farmer-green-shade-3" for="bankType">Bank Type</label>
                                    <select class="relative w-full bg-white border border-gray-300 rounded-md shadow-sm pl-3 pr-10 py-3 text-left cursor-default focus:outline-none focus:ring-1 focus:ring-farmer-green focus:border-farmer-green sm:text-sm" formControlName="bankType">
                                      <option value="" ngDefaultControl>Select Account Type</option>
                                      <ng-container *ngFor="let item of bankType | async">
                                        <option value="{{item.bankType}}"> {{item.bankType}}</option>
                                    </ng-container>
                                   </select>
                                </div>
                                <div class="col-span-6 sm:col-span-3">
                                    <label class="block text-base font-medium text-farmer-green-shade-3" for="accountNo ">Account Number</label>
                                    <input class="py-3 focus:ring-farmer-green focus:border-farmer-green block w-full shadow-sm sm:text-sm border-gray-300 rounded-lg" type="text" formControlName="accountNo" name=" accountNo " />
                                </div>
                                <div class="col-span-6 sm:col-span-3">
                                    <label class="block text-base font-medium text-farmer-green-shade-3" for="bankCode">Branch Code</label>
                                    <input class="py-3 focus:ring-farmer-green bg-gray-50 focus:border-farmer-green block w-full lg:w-1/2 shadow-sm sm:text-sm border-gray-300 rounded-lg" type="text" formControlName="bankCode" name="bankCode " />
                                </div>

                            </div>
                        </ng-container>
                        <div class="px-4 py-3 border-t-2 border-gray-50 text-right sm:px-6">
                            <a (click)="previous()" *ngIf="step !=1" class=" cursor-pointer ml-8 inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-farmer-yellow bg-transparent hover:bg-farmer-green-shade-1">Back</a>
                            <button type="submit" *ngIf="step !=3 " class="mx-2 inline-flex justify-center py-3 px-5 border border-transparent shadow-sm text-base font-medium rounded-md text-farmer-white bg-farmer-green hover:bg-farmer-green-shade-2 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-farmer-green-shade-1">
                               Next
                          </button>
                        </div>
                        <div class="px-4 mb-6 text-center" *ngIf="step ==3">
                            <button (click)="createAccount()" class="w-full px-4 py-2 font-bold text-farmer-white bg-farmer-green-shade-1 rounded-lg hover:bg-farmer-green-shade-2">
                              Register Account
                            </button>
                        </div>
                        <div class="text-center">
                            <a routerLink="/sign-in" class=" cursor-pointer inline-block text-lg text-farmer-green align-baseline hover:text-farmer-yellow">
                              Already have an account? Sign in
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
