<section id="main-section" class="leading-normal tracking-normal overflow-x-hidden">
    <div class="flex flex-wrap">
        <!-- Place hidden class on the main-navigation element -->
        <app-admin-navigation>
        </app-admin-navigation>
        <!-- End of side navigation -->
        <!-- Main Content -->
        <div id="main-content" class="w-full bg-gray-100 pl-0 lg:pl-64 min-h-screen">
            <!-- Top Navigation Bar -->
            <div class="sticky top-0 z-40">
                <div class="w-full h-20 px-6 bg-gray-100 border-b flex items-center justify-between">
                    <div class="flex">
                        <div class="lg:hidden flex items-center justify-between">
                            <button class="text-farmer-green-shade-3 hover:text-farmer-green-shade-2 hover:border-farmer-white focus:outline-none navbar-burger">
                            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/></svg>
                          </button>
                        </div>
                    </div>
                </div>
                <div class="p-6 bg-gray-100 mb-20">
                    <div class="home-section">
                        <div class="justify-between items-center my-6 lg:flex">
                            <h1 class="text-2xl text-farmer-green font-sans font-bold mb-2">
                                Welcome, Admin
                            </h1>

                        </div>
                        <div class=" flex flex-wrap -mx-3 mb-20 justify-center">
                            <div class="w-1/2 xl:w-1/4 px-3">
                                <div class="w-full bg-white text-farmer-green-shade-2 rounded flex items-center p-6 shadow-lg">
                                    <svg class="w-16 text-green-yellow-shade-2 h-16 mr-4 hidden md:block lg:block" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"/></svg>
                                    <div class="text-farmer-green">
                                        <p class="font-bold text-3xl">10</p>
                                        <p class="text-sm text-farmer-green">Total Orders</p>
                                    </div>
                                </div>
                            </div>
                            <div class="w-1/2 lg:w-1/4 px-3">
                                <div class="w-full bg-white text-farmer-green-shade-2 rounded flex items-center p-6 shadow-lg">
                                    <svg class="w-16 text-green-yellow-shade-2 h-16 mr-4 hidden md:block lg:block" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"/></svg>
                                    <div class="text-farmer-green">
                                        <p class="font-bold text-3xl">2</p>
                                        <p class="text-sm text-farmer-green">Delivered Orders</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="justify-between items-center my-6 lg:flex">
                            <a router-link="/create-supplier" class="bg-farmer-green hover:bg-farmer-green-shade-1 focus:outline-none rounded-lg px-6 py-2 text-center text-farmer-white font-semibold shadow lg:hidden block w-full">Create a new supplier</a>
                        </div>
                        <div class="justify-between text-farmer-green  my-6 lg:flex flex-col align-middle">
                            <div class="flex flex-row items-center">
                                <div class="w-1/4">
                                    <p class="text-xl mt-3 font-bold mb-4 text-left">Orders</p>
                                </div>

                                <hr class="w-3/4 divide-y-2 border-farmer-green border-2">
                            </div>
                            <p class="text-base text-farmer-black">Information about products ordered by the customer and whether the product as been delivered to the customer.</p>
                        </div>
                        <!-- Supplier Application information -->
                        <div class="flex flex-col">
                            <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                                <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                                    <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                                        <table class="min-w-full divide-y divide-gray-200">
                                            <thead class="bg-gray-50">
                                                <tr>
                                                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-farmer-green-shade-2 uppercase tracking-wider">
                                                        Customer Name
                                                    </th>
                                                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-farmer-green-shade-2 uppercase tracking-wider">
                                                        Product Ordered
                                                    </th>
                                                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-farmer-green-shade-2 uppercase tracking-wider">
                                                        Date Ordered
                                                    </th>
                                                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-farmer-green-shade-2 uppercase tracking-wider">
                                                        Status
                                                    </th>
                                                    <th scope="col" class="relative px-6 py-3">
                                                        <span class="sr-only">Approve</span>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody class="bg-white divide-y divide-gray-200">
                                                <tr *ngFor="let item of products">
                                                    <td class="px-6 py-4 whitespace-nowrap">
                                                        <p class="text-base font-normal text-farmer-black text-left">
                                                           {{item.productName}}
                                                        </p>
                                                    </td>
                                                    <td class="px-6 py-4 whitespace-nowrap">
                                                        <p class="text-base font-normal text-farmer-black text-left">
                                                            500g Mabele Maize Meal
                                                        </p>
                                                    </td>
                                                    <td class="px-6 py-4 whitespace-nowrap">
                                                        <p class="text-base font-normal text-farmer-black text-left">
                                                            12-01-2021
                                                        </p>
                                                    </td>
                                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                                        <p class="text-base font-normal text-farmer-black text-left">
                                                            Not Delivered
                                                        </p>
                                                    </td>
                                                    <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                                                        <a class=" text-farmer-green hover:text-farmer-yellow-shade-2" routerLink="/edit-orders">Edit</a>
                                                        <a class=" bg-farmer-red py-3 px-4 rounded text-farmer-white hover:bg-farmer-red-shade-3 ml-2">Delete</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-full border-t-2 px-8 py-6 lg:flex justify-between items-center ">
                    <p class="mb-2 lg:mb-0 "> &copy; Copyright 2021</p>
                </div>
            </div>
        </div>
    </div>
</section>
